<h1> Showing all boards </h1>

<div class="jumbotron">
  <p>

  	{{#each key}}
  		<div class="panel panel-primary">
		  <div class="panel-heading">
		   	<a href="/board/{{this}}"> <h3 class="panel-title">{{this}}</h3> </a>
		  </div>
		</div>
	{{/each}}

  </p>
</div>


