<h1> Showing all boards </h1>

<ul class="list-group">
	<li class="list-group-item">
		<strong>Board1: </strong>
		{{key1}}
	</li>
	<li class="list-group-item">
		<strong>Board2: </strong>
		{{key2}}
	</li>
</ul>